*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    background: rgb(224, 224, 224);
    width: 100%;
    display: flex;
}

.sidebar{
    width: 15%;
    height: 900px;
    background-color: rgb(180, 180, 180);
}

.h1{
    font-size: 1.5em;
    padding: 5px;
    padding-left: 15px;
}

.info{
    background: rgb(255, 223, 211);
    padding: 5px;
    padding-left: 15px;
}

.table-knopki{
    width: 100%;
    height: 50px;
    background: aliceblue;
    display: flex;
}
.tab-text{
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
    margin-left: 20px;
    padding-right: 200px;
}

.tab{
    width: 100%;
    margin-top: 60px;
    margin-left: 30px;
}

button{
    padding: 5px;
    border: 0;
    color: azure;
    font-weight: bold;
    margin: 5px;
}


th,td{
    border: 1px solid black;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 15px;
}

.first-n{
    width: 200px;
    height: 30px;
    border: 1px solid black;
    background: rgb(168, 167, 167);
}


.green{
    background: rgb(11, 199, 11);
}

.red{
    background: rgb(247, 48, 48);
}

.blue{
    background: rgb(45, 148, 196);
}

.input-st {
    width: 20px;
}

.divka2{
    width: 100px;
    height: 100px;
}